ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 2rem 0;
}

li {
  width: 100%;
}

li::marker {
  content: "";
}

li span {
  margin: 0 0.8rem;
}

li button {
  width: fit-content;
  /* margin-left: 0.4rem; */
  padding: 0 !important;
  border-color: transparent !important; 
}